<div class="container mt-1">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="file-upload-container">
                <label for="file-upload" class="file-upload-button">
                    Choose File
                </label>
                <input type="file" id="file-upload" class="file-upload-input" (change)="onFileChange($event)" />
                <!-- <p class="mt-1">Drag and drop a file here or click the button to select one.</p> -->
            </div>
        </div>
    </div>
</div>