<div class="container mt-5">
    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="form-check">
                    <label for="exampleCheck1" class="form-check-label">Exposure</label>
                    <input type="checkbox" id="exampleCheck1" class="form-check-input" [(ngModel)]="isChecked"
                        name="exampleCheck1">
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="input1">Min Limit</label>
                    <input type="number" id="input1" class="form-control" [(ngModel)]="input1" name="input1" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="input2">Max Limit</label>
                    <input type="number" id="input2" class="form-control" [(ngModel)]="input2" name="input2" required>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>