  <div class="container">
    <div class="row justify-content-center">
      <div class="p-4 col-12 text-center">
        <h1>Welcome to ImageTransformations using Adobe FireFly APIs</h1>
      </div>
      <div class="container mt-1">
        <div class="row">
        <div class="col-md-2">
          <div class="p-1 border bg-light text-center">
            <h4>Upload an image</h4>
            <p><app-file-upload></app-file-upload></p>
             Select Transformations
             <app-apply-transformations></app-apply-transformations>
          </div>
        </div>
          <div class="col-md-5">
            <div class="p-3 border bg-light text-center">
              <h4>Original image</h4>
              <p><img src="https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg" class="img-fluid" alt="Responsive Image"></p>
            </div>
          </div>
          <div class="col-md-5">
            <div class="p-3 border bg-light text-center">
              <h4>Transformed Image</h4>
              <p><img src="https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg" class="img-fluid" alt="Responsive Image"></p>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-4">
          <div class="p-3 border bg-light text-center">
            Select Transformations
            <app-apply-transformations></app-apply-transformations>
          </div>
          </div>
        </div> -->
      </div>

    </div>
    <app-footer></app-footer>
  </div>


